body {
    background-color: #DFE2DB;
    background-image: url("../images/trees.png");
    background-repeat: repeat;
    font-family: Arial;
  }

.major {
    color: Black;
}

h1, h2, h3 {
    color: #118C4E;
}

p {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;

    padding-top: 20px;
    padding-right: 40px;
    padding-bottom: 20px;
    padding-left: 20px;
}