body {
  background-image: url("../images/paintsquares.jpg");
  background-repeat: repeat;

  padding-top: 50px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  text-align: centre;
}

div {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;

  align-content: align-content;
} 

button {
  background-color: #FFFFFF;
}