body{
  background-image: url("images/Trees.png");
  background-repeat: no-repeat;
  font-family: Arial;
}

.major {
  color: Black;
}

h1, h2, h3 {
  color: Green;
}

p {
  margin 10px 20px 10px 10px;
  padding 10px 10px 10px 10px;
}